.App {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

.nav-bar {
  background: rgb(64, 160, 238);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
  align-items: center;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin-top: 30px;
}

.nav-item:hover {
  color: rgb(226, 226, 226);
  font-size: 20px;
}
